<div class="container">

  <form>

    <!--NAZWA WYDATKU/PRZYCHODU-->
    <div class="form-group">
      <label for="costName">Nazwa wydatku</label>
      <input class="form-control"
             id="costName"
             name="costName"
             [(ngModel)]="oneTimeTrans.name"/>
    </div>

    <div class="form-row">
      <!--TYP KOSZTU - PRZYCHODZĄCY  LUB WYCHODZĄCY-->
      <div class="form-group col-md-4">
        <label for="costDirection">Typ</label>
        <select class="form-control"
                id="costDirection"
                name="costDirection"
                [(ngModel)]="oneTimeTrans.costDirection">
          <option *ngFor="let direction of directions"
                  [value]="direction"
                  [selected]="direction == oneTimeTrans.costDirection">{{direction}}
          </option>
        </select>
      </div>

      <!--WARTOŚĆ KOSZTU/PRZYCHODU-->
      <div class="form-group col-md-4">
        <label for="costValue">Wartość</label>
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text">$</div>
          </div>
          <input class="form-control"
                 id="costValue"
                 name="costValue"
                 [(ngModel)]="oneTimeTrans.value"/>
        </div>
      </div>

      <!--  TERMIN PŁATNOŚCI-->
      <div class="form-group col-md-4">
        <label for="costPayDate">Termin pierwszej płatności</label>
        <datetime
          id="costPayDate"
          name="costPayDate"
          [timepicker]="false"
          [datepicker]="datepickerOpts"
          [(ngModel)]="oneTimeTrans.payDate"></datetime>

      </div>
    </div>

    <div class="form-group">
      <div class="form-check">
        <input class="form-check-input" type="checkbox"
               id="hasBankAccount"
               name="hasBankAccount"
               [checked]="oneTimeTrans.bankAccountDto != null">
        <label class="form-check-label" for="hasBankAccount">
          Powiązać w kontem bankowym?
        </label>
      </div>
    </div>

    <!--CZY POWIĄZAĆ KONTO BANKOWE ?-->
    <div class="form-group">
      <label for="costBankAccount">Konto bankowe</label>
      <select class="form-control"
              id="costBankAccount"
              name="costBankAccount"
              [compareWith]="compareAccounts"
              [(ngModel)]="oneTimeTrans.bankAccountDto">
        <option *ngFor="let bank of (bankAccounts | async)"
                [ngValue]="bank">
          {{bank.bankName + ' - ' + bank.accountNumber}}
        </option>
      </select>
    </div>
  </form>
</div>
