<div class="container" style="margin-top: 20px">

  <!--TRANSAKCJE CYKLICZNE-->
  <h3 class="col-md-9">Operacje cykliczne</h3>

  <table class="table">
    <thead>
    <tr>
      <th></th>
      <th scope="col">Nazwa</th>
      <th scope="col">Kwota</th>
      <th scope="col">Pierwszy termin</th>
      <th scope="col">Ostatni termin</th>
      <th scope="col">Wych./Przych.</th>
      <th scope="col">Konto bankowe</th>
    </tr>
    </thead>
    <tbody *ngFor="let t of cyclicTransactionDtos">
    <tr>
      <td [ngClass]="{
      'table-success': isIncoming(t),
      'table-danger' : !isIncoming(t)
      }"></td>
      <td>{{t.name}}</td>
      <td [ngClass]="{
        'text-danger': !isIncoming(t)
      }">{{!isIncoming(t)? -t.value : t.value}}
      </td>
      <td>{{t.firstPayDate | date:'dd-MM-yyyy'}}</td>
      <td>{{t.lastPayDate | date:'dd-MM-yyyy'}}</td>
      <td>{{t.costDirection}}</td>
      <td>{{t.bankAccountDto != null ? t.bankAccountDto.bankName : ''}}</td>
    </tr>
    </tbody>
  </table>
  <button type="button" class="btn btn-info" routerLink="/costCreate">Dodaj</button>

  <!--Operacje JEDNORAZOWE-->
  <h3 class="col-md-9" style="margin-top: 60px">Operacje jednorazowe</h3>

  <table class="table">
    <thead>
    <tr>
      <th></th>
      <th scope="col">Nazwa</th>
      <th scope="col">Kwota</th>
      <th scope="col">Termin</th>
      <th scope="col">Wych./Przych.</th>
      <th scope="col">Konto bankowe</th>
    </tr>
    </thead>
    <tbody *ngFor="let cost of oneTimeTransactionDtos">
    <tr>
      <td [ngClass]="{
      'table-success': isIncoming(cost),
      'table-danger' : !isIncoming(cost)
      }"></td>
      <td>{{cost.name}}</td>
      <td [ngClass]="{
        'text-danger': !isIncoming(cost)
      }">{{!isIncoming(cost)? -cost.value : cost.value}}
      </td>
      <td>{{cost.payDate | date:'dd-MM-yyyy'}}</td>
      <td>{{cost.costDirection}}</td>
      <td>{{cost.bankAccountDto.bankName}}</td>
    </tr>
    </tbody>
  </table>
  <button type="button" class="btn btn-info" routerLink="/costCreate">Dodaj</button>

</div>
