<div class="container container-header">

  <!--TRANSAKCJE CYKLICZNE-->
  <h3 class="col-md-9">Operacje cykliczne</h3>

  <table class="table">
    <thead>
    <tr>
      <th></th>
      <th scope="col">Nazwa</th>
      <th scope="col">Kwota</th>
      <th scope="col">Pierwszy termin</th>
      <th scope="col">Ostatni termin</th>
      <th scope="col">Cykliczność</th>
      <th scope="col">Wych./Przych.</th>
      <th scope="col">Konto bankowe</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody *ngFor="let t of cyclicTransactionDtos">
    <tr>
      <td [ngClass]="{
      'table-success': isIncoming(t),
      'table-danger' : !isIncoming(t)
      }"></td>
      <td>{{t.name}}</td>
      <td [ngClass]="{
        'text-danger': !isIncoming(t)
      }">{{!isIncoming(t)? -t.value : t.value}}
      </td>
      <td>{{t.firstPayDate | date:'dd-MM-yyyy'}}</td>
      <td>{{t.lastPayDate | date:'dd-MM-yyyy'}}</td>
      <td>{{t.period}}</td>
      <td>{{t.costDirection}}</td>
      <td>{{t.bankAccount != null ? t.bankAccount.bankName : '-'}}</td>
      <td><a routerLink="/cyclicModify/{{t.id}}"><img src="assets/baseline_edit_black_48dp.png" width="20"/></a></td>
      <td><a routerLink="/costCreate"><img src="assets/delete-outline.png" width="20"/></a></td>
    </tr>
    </tbody>
  </table>
  <button type="button" class="btn btn-info" routerLink="/costCreate">Dodaj</button>

  <!--Operacje JEDNORAZOWE-->
  <h3 class="col-md-9" style="margin-top: 60px">Operacje jednorazowe</h3>

  <table class="table">
    <thead>
    <tr>
      <th></th>
      <th scope="col">Nazwa</th>
      <th scope="col">Kwota</th>
      <th scope="col">Termin</th>
      <th scope="col">Wych./Przych.</th>
      <th scope="col">Konto bankowe</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody *ngFor="let oneTime of oneTimeTransactionDtos">
    <tr>
      <td [ngClass]="{
      'table-success': isIncoming(oneTime),
      'table-danger' : !isIncoming(oneTime)
      }"></td>
      <td>{{oneTime.name}}</td>
      <td [ngClass]="{
        'text-danger': !isIncoming(oneTime)
      }">{{!isIncoming(oneTime)? -oneTime.value : oneTime.value}}
      </td>
      <td>{{oneTime.payDate | date:'dd-MM-yyyy'}}</td>
      <td>{{oneTime.costDirection}}</td>
      <td>{{oneTime.bankAccount != null ? oneTime.bankAccount.bankName : '-'}}</td>
      <td><a routerLink="/onetimeModify/{{oneTime.id}}"><img src="assets/baseline_edit_black_48dp.png" width="20"/></a></td>
      <td><a routerLink="/costCreate"><img src="assets/delete-outline.png" width="20"/></a></td>
    </tr>
    </tbody>
  </table>
  <button type="button" class="btn btn-info" routerLink="/costCreate">Dodaj</button>

</div>
