<div class="container">

  <button routerLink="/costCreate">Dodaj</button>

  <table class="table">
    <thead>
    <tr>
      <th></th>
      <th scope="col">Nazwa</th>
      <th scope="col">Kwota</th>
      <th scope="col">Termin</th>
      <th scope="col">Wych./Przych.</th>
      <th scope="col">Konto bankowe</th>
    </tr>
    </thead>
    <tbody *ngFor="let cost of costs">
    <tr>
      <td [ngClass]="{
      'table-success': isIncoming(cost),
      'table-danger' : !isIncoming(cost)
      }"></td>
      <td>{{cost.name}}</td>
      <td [ngClass]="{
        'text-danger': !isIncoming(cost)
      }">{{!isIncoming(cost)? -cost.value : cost.value}}</td>
      <td>{{cost.payDate | date:'dd-MM-yyyy'}}</td>
      <td>{{cost.costDirection}}</td>
      <td>{{cost.bankAccount.bankName}}</td>
    </tr>
    </tbody>
  </table>

</div>
