<div class="container container-header">

  <form (ngSubmit)="onSubmit()">

    <!--NAZWA WYDATKU/PRZYCHODU-->
    <mat-form-field class="form-element-full-width">
      <input matInput="text"
             placeholder="Nazwa wydatku"
             [errorStateMatcher]="matcher"
             id="costName"
             name="costName"
             required
             #costName="ngModel"
             [(ngModel)]="transaction.name"/>
      <mat-error *ngIf="costName.invalid && !costName.hasError('required')">
        Proszę podać nazwę
      </mat-error>
      <mat-error *ngIf="costName.hasError('required')">
        Nazwa jest <strong>wymagana</strong>
      </mat-error>
    </mat-form-field>

    <div class="form-row">
      <!--TYP KOSZTU - PRZYCHODZĄCY  LUB WYCHODZĄCY-->
      <mat-form-field class="col-md-4">
        <mat-select id="costDirection" name="costDirection"
                    placeholder="Typ"
                    [(ngModel)]="transaction.costDirection">
          <mat-option *ngFor="let direction of directions"
                      [value]="direction">{{direction}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!--CYKLICZNOŚĆ-->
      <mat-form-field class="col-md-4">
        <mat-select id="period" name="period"
                    placeholder="Cykliczność"
                    [(ngModel)]="transaction.period">
          <mat-option *ngFor="let period of periods"
                      [value]="period">{{period}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!--WARTOŚĆ KOSZTU/PRZYCHODU-->
      <mat-form-field class="col-md-4">
        <input matInput id="costValue" name="costValue"
               class="form-text-right"
               placeholder="Wartość"
               pattern="[0-9]*.?[0-9]{0,2}"
               [(ngModel)]="transaction.value"/>
        <span matPrefix>$&nbsp;</span>
      </mat-form-field>
    </div>

    <div class="form-row">
      <!--  TERMIN PŁATNOŚCI (1)-->
      <mat-form-field class="col-md-6">
        <input matInput id="firstPayDate" name="firstPayDate"
               placeholder="Termin pierwszej płatności"
               [matDatepicker]="firstPayDatePicker"
               [(ngModel)]="transaction.firstPayDate">
        <mat-datepicker-toggle matSuffix [for]="firstPayDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #firstPayDatePicker [startAt]="transaction.firstPayDate"></mat-datepicker>
      </mat-form-field>

      <!--  TERMIN PŁATNOŚCI (2)-->
      <mat-form-field class="col-md-6">
        <input matInput id="lastPayDate" name="lastPayDate"
               placeholder="Termin ostatniej płatności"
               [matDatepicker]="lastPayDatePicker"
               [(ngModel)]="transaction.lastPayDate">
        <mat-datepicker-toggle matSuffix [for]="lastPayDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #lastPayDatePicker [startAt]="transaction.lastPayDate"></mat-datepicker>
      </mat-form-field>
    </div>

    <!--CZY POWIĄZAĆ KONTO BANKOWE ?-->
    <mat-checkbox id="hasBankAccount" name="hasBankAccount"
                  [checked]="transaction.bankAccountId != null">
      Powiązać w kontem bankowym?
    </mat-checkbox>

    <mat-form-field class="form-element-full-width">
      <mat-select id="costBankAccount" name="costBankAccount"
                  placeholder="Konto bankowe"
                  [compareWith]="compareAccountFn"
                  [(ngModel)]="transaction.bankAccountId">
        <mat-option *ngFor="let bank of (bankAccounts | async)" [value]="bank.id">
          {{bank.bankName + ' - ' + bank.accountNumber}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button type="submit" class="btn btn-success">Zapisz</button>
  </form>
</div>
